* {
	background-color:white;
}

button {
	position:relative;
	top:0px;
	left:100px;
	background-color:rgb(169, 169, 169);
	width:100px;
	height:50px;
}

#p {
	text-indent:3em;
}

#canvas {
	position:absolute;
	top:0px;
	left:300px;
	height:600px;
	width:300px;
	border-style:solid;
	border-width:1px;
}

#canvas b {
	position:absolute;
	width:28px;
	height:28px;
	border-style:solid;
	border-width:1px;
}
